/* GENERAL */

html {
    font-family: 'Open Sans';
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    align-items: stretch;
    background-image: url('./images/img-fondo-header.jpg');
    background-size: cover;
    z-index: 200;
}

#logo-web {
    width: 200px;
    height: auto;
}

#titulo-web {
    color: white;
    font-size: 43px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 8px 10px 0px;
}

#subtitulo-web {
    color: #bdd3aa;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 15px 0px;
}

/* MAIN */

main {
    display: flex;
    flex-direction: row;
    margin-top: 109px;
}

#contenedor-vertical {
    position: fixed;
    left: 0;
    width: 200px;
    background-color: #fff4af;
    margin: 0px;
    min-height: 100vh;
    overflow-y: auto;
    z-index: 200;
}

#menu-principal {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#menu-principal a {
    display: block;
    color: black;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 10px 18px;
}

#menu-principal a:active {
    color: #5f7c68;
}

#menu-principal a:hover {
    background-color: #bdd3aa;
}

.contenido-pagina {
    width: auto;
    text-align: center;
    margin: 10px 40px 50px 230px;
}

h1, h2, h3, h4, h5, h6, p, li {
    text-align: left;
}

h2 {
    color: #5f7c68;
    font-size: 50px;
    font-weight: 100;
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 45px 0px 20px;
    padding: 10px;
    border-bottom: 1px solid #bababa;
}

h4 {
    color: #5f7c68;
    font-size: 16px;
    margin: 30px 0px 10px;
    padding-left: 10px;
}

p {
    padding-left: 15px;
}

blockquote {
    font-style: italic;
    color: rgb(172, 172, 172);
    margin: 20px;
}

figure {
    display: inline-block;
    max-width: 760px;
    overflow: hidden;
}

figure img {
    max-width: 100%;
    height: auto;
}

figure figcaption {
    font-style: italic;
    color: rgb(172, 172, 172);
    margin: 5px 0px 20px;
}

/* FOOTER */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 20px;
    z-index: 201;
}